In [6]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np 

# Variable
url = 'http://www.cdiscount.com/search/10/{}+ordinateur+portable.html?&page={}#_his_'
types = ['DELL', 'ACER']
old_price = []
new_price = []
brand =  []
discount = []
dic = {'brand': brand, 'old_price': old_price, 'new_price': new_price, 'discount': discount}
average_discount = {'dell': 0, 'acer': 0}
nb_pages = 2

for t in types:
    for page in range(1, nb_pages):
         response = requests.get(url.format(t, str(page)))
         soup = BeautifulSoup(response.text, 'html.parser')
         devices = soup.select("#lpBloc > li")
         for device in devices:
            if device.select(".prdtPrSt") != [] and device.select(".prdtPrSt")[0].text != '':
                brand.append(t)
                old_price.append(float(device.select(".prdtPrSt")[0].text.replace(',', '.')))
                new_price.append(float(device.select(".price")[0].text.replace('â‚¬', '.').replace(' ', ''))) 
                discount.append(float(((old_price[-1] - new_price[-1]) / old_price[-1]) * 100))
    
df = pd.DataFrame(dic)
df.to_csv('cdiscount_dell_acer.csv', encoding='utf-8')
print('*********************{}*************************'.format('DELL'))
print('\t\tAverage discount: ' + str(round(np.mean(df[df['brand'] == 'DELL']['discount']), 2)) + '%')
print()
print('*********************{}*************************'.format('ACER'))
print('\t\tAverage discount: ' + str(round(np.mean(df[df['brand'] == 'ACER']['discount']), 2)) + '%')
df

*********************DELL*************************
		Average discount: 23.11%

*********************ACER*************************
		Average discount: 25.01%

   brand   discount  new_price  old_price
0   DELL  36.144578     159.00     249.00
1   DELL  14.568988     299.00     349.99
2   DELL  33.333333     365.00     547.50
3   DELL  15.513086     886.80    1049.63
4   DELL  22.727273     850.00    1100.00
5   DELL  15.255778     549.99     649.00
6   DELL  22.438774     604.90     779.90
7   DELL  24.925926     749.99     999.00
8   ACER  27.320802     289.99     399.00
9   ACER  16.694491     499.00     599.00
10  ACER  16.575083     749.99     899.00
11  ACER  41.570952     349.99     599.00
12  ACER  24.814536     299.99     399.00
13  ACER  23.080268     229.99     299.00